<div class="list card">

  <div class="item item-avatar item-text-wrap">
    <img src="http://1.bp.blogspot.com/-QkvQ2r-o4zE/T_3-XkPZ7ZI/AAAAAAAAJE8/Cp0UqpUmV2I/s1600/Reciclaje.gif">
    <h2>Desecho publicado correctamente!</h2>
    <p>Pronto un recolector de base tendrá esta información :-)</p>
    <button class="button button-block button-balanced" ng-click="closeModal()" ui-sref="root.publicar">
      Aceptar
    </button>
  </div>
</div>
