<!-- <div class="list">
  <label class="item item-input">
    <input type="text" placeholder="First Name">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Last Name">
  </label>
  <label class="item item-input">
    <textarea placeholder="Comments"></textarea>
  </label>
</div> -->
<ion-content id="login_container" style="height: 100%; background-color: #4CAF50; padding-top: 30%;">
    <div class="row">
        <h1 style="margin: 0 auto; color: white;">Bienvenido a Gugree</h1>
    </div>
    <div class="row">
        <h4 style="margin: 0 auto; color: #EEEEEE;">Elija con que perfil desea iniciar sesión:</h2>
    </div>
    <div class="row">
      <div class="col">
      </div>
      <div class="col col-50" ng-click="loginAsRecolector()">
          <div class="list card">
            <div class="item item-image" style="background-color: #388E3C;">
              <img src="images/worker.ico">
            </div>

            <a class="item item-icon-left calm item-text-wrap" href="#">
              <i class="icon ion-log-in"></i>
              Recolector de Base
            </a>
          </div>
      </div>
      <div class="col col-50" ng-click="loginAsPerson()">
          <div class="list card">
            <div class="item item-image" style="background-color: #388E3C;">
              <img src="images/people-icon.png">
            </div>

            <a class="item item-icon-left calm item-text-wrap" href="#">
              <i class="icon ion-log-in"></i>
              Personas
            </a>
          </div>
      </div>
    </div>
</ion-content>
