<div class="list" ng-controller="DesechosController">
  <label class="item item-input item-select">
    <div class="input-label">
      Tipo
    </div>
    <select ng-options="option for option in formulario.tipos" ng-model="formulario.tipo"></select>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Cantidad aproximada</span>
    <input type="text" placeholder="1 kg, 10" ng-model="formulario.cantidad">
  </label>
  <!-- <label class="item item-input item-stacked-label">
    <span class="input-label">Foto</span>
    <input type="text" placeholder="john@suhr.com">
  </label> -->

  <label class="item item-input item-stacked-label">
    <span class="input-label">Disponibilidad</span>
    <ionic-datepicker input-obj="datepickerObjectInicio">
      <button class="button button-block button-positive">Desde {{datepickerObjectInicio.inputDate | date:datepickerObjectInicio.dateFormat}}</button>
    </ionic-datepicker>
    <ionic-datepicker input-obj="datepickerObjectFin">
      <button class="button button-block button-positive">Hasta {{datepickerObjectFin.inputDate | date:datepickerObjectFin.dateFormat}}</button>
    </ionic-datepicker>
  </label>

  <label class="item item-input item-stacked-label">
    <button class="button button-block button-balanced" ng-click="enviarFormulario()" ng-disabled="!formulario.lat && !formulario.lon">
      {{ boton_enviar_val }}
    </button>
  </label>
  <!-- <label class="item item-input item-stacked-label">
    <button ui-sref="root.ver" class="button button-block button-royal">
      Ver Mapa
    </button>
  </label> -->
</div>

<script id="my-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar-balanced">
      <h1 class="title">Desecho Publicado</h1>
    </ion-header-bar>
    <ion-content>
      <div class="list card">

        <div class="item item-avatar">
          <img src="http://1.bp.blogspot.com/-QkvQ2r-o4zE/T_3-XkPZ7ZI/AAAAAAAAJE8/Cp0UqpUmV2I/s1600/Reciclaje.gif">
          <h2>Desecho publicado correctamente!</h2>
          <p>Pronto un recolector de base tendrá esta información :-)</p>
          <button class="button button-block button-balanced" ng-click="closeModal()">
            Aceptar
          </button>
        </div>
      </div>
    </ion-content>
  </ion-modal-view>
</script>
