<ion-side-menus ng-controller="RootController">
  <ion-side-menu side="left">
    <div class="bar bar-header bar-balanced">
      <h1 class="title">Tipo: {{ userType }}</h1>
    </div>
    <div class="list has-header">
      <a class="item item-icon-left" ui-sref="root.home" ng-click="toggleLeft()">
        <i class="icon ion-home"></i> Inicio
      </a>

      <a ng-show="esPersona()" class="item item-icon-left" ui-sref="root.publicar" ng-click="toggleLeft()">
        <i class="icon ion-leaf"></i> Publicar desecho
      </a>

      <a ng-show="esPersona()" class="item item-icon-left" ui-sref="root.tips" ng-click="toggleLeft()">
        <i class="icon ion-ios-lightbulb"></i> Tips
        <span class="badge badge-assertive">2</span>
      </a>

      <!-- <a class="item item-icon-left" ui-sref="root.ver" ng-click="toggleLeft()">
        <i class="icon ion-ios-location"></i> Ver Mapa
      </a> -->

      <a ng-show="esRecolector()" class="item item-icon-left" ui-sref="root.ver_puntos" ng-click="toggleLeft()">
        <i class="icon ion-ios-location"></i> Ver Mapa
      </a>

      <a class="item item-icon-left" ui-sref="login" ng-click="toggleLeft()">
        <i class="icon ion-person"></i> Cambiar Perfil
      </a>
    </div>

  </ion-side-menu>

  <ion-side-menu-content>
    <ion-pane>
      <ion-header-bar class="bar-balanced">
        <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()"></button>
        <h1 class="title">Gugree</h1>
        <!-- <img src="images/gugree.png" alt="" /> -->
        <!-- <img src="images/gugree-transparente.png" alt="" /> -->
        <!-- <button class="button button-icon button-clear ion-navicon" ng-click="toggleRight()"></button> -->
      </ion-header-bar>
      <ion-content>
        <div ui-view class="fullscreen"></div>
      </ion-content>
    </ion-pane>
  </ion-side-menu-content>

  <ion-side-menu side="right">
      <ion-scroll>
          <div class="bar bar-header bar-balanced">
            <h1 class="title">Indicaciones</h1>
          </div>
          <div id="right-menu"></div>
      </ion-scroll>
  </ion-side-menu>

</ion-side-menus>
