<div class="list card">

  <div class="item item-body">
    <h1 id="titulo">
        <button class="button button-balanced button-small" ui-sref="root.tips">
            <i class="ion-ios-arrow-back"></i> Volver
        </button>
        {{ tip.title }}
    </h1>
    <!-- <img class="full-image" ng-src="{{ tip.image }}"> -->
    <p>
      {{ tip.content }}
    </p>
  </div>

</div>
