<div class="list card">

  <div class="item item-body" ng-repeat="tip in tips">
    <!-- <h1 ui-sref="root.tip({tipId: tip.id})">{{ tip.title }}</h1> -->
    <h1>{{ tip.title }}</h1>
    <!-- <a ui-sref="root.tip({tipId: tip.id})"><img class="full-image" ng-src="{{ tip.image }}"></a> -->
    <img class="full-image" ng-src="{{ tip.image }}">
    <p>
      {{ tip.content }}
    </p>
    <!-- <a ui-sref="root.tip({tipId: tip.id})" class="float-right">Leer más</a> -->
  </div>

</div>
