<!-- <div class="fullscreen" id="map">
</div> -->
<div class="fullscreen" id="map">
    <!-- <leaflet width="100%" height="100%" class="fullscreen" lf-center="posicion_actual" event-broadcast="events" markers="markers"></leaflet> -->
</div>

<!-- <div class="row">
  <div class="col col-50" id="map">.col.col-50</div>
  <div class="col col-50" id="right-panel">.col.col-50</div>
</div> -->
