<!-- <div class="fullscreen" id="map">
</div> -->

<!-- <div class="float-button">
 <span class="height-fix">
    <a class="content">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
 </div> -->

<!-- <div class="float-button">
 <span class="height-fix">
    <a class="content">
      <i class="ion-ios-arrow-up"> </i>
    </a>
    </span>
 </div> -->
 <!-- <button class="button button-balanced float-ionic-button" ng-click="calcularRuta()">
   Calcular Ruta
 </button> -->
 <!-- <input name="file" type="file" file /> -->

 <!-- <div class="row" id="div_flotante_filtro_tipos">
     <div class="col col-50 col-offset-50">
         <div class="card">
             <ul class="list">
                 <li class="item item-toggle" ng-repeat="tipo in formulario.tipos_activos">
                    {{ tipo.nombre }}
                    <label class="toggle toggle-positive">
                      <input type="checkbox" ng-model="tipo.activo" ng-click="actualizarMapa()">
                      <div class="track">
                        <div class="handle"></div>
                      </div>
                    </label>
                 </li>
             </ul>
        </div>
     </div>
 </div> -->
 <div class="row" id="div_flotante_maps">
     <button class="button" ng-click="seleccionarArea()" id="boton_seleccionar_area" ng-class="seleccionar_area_active ? 'button-dark' : 'button-assertive'">
         {{ seleccionar_area_text }}
     </button>
     <button class="button button-balanced" ng-click="calcularRuta()" id="boton_calcular_ruta" ng-disabled="calculando_ruta">
         {{ boton_calcular_ruta }}
     </button>
     <!-- <button class="button button-balanced float-ionic-button" ng-click="calcularRuta()" id="boton_seleccionar_area">
         Seleccionar Área
     </button>
     <button class="button button-balanced float-ionic-button" ng-click="calcularRuta()" id="boton_calcular_ruta">
         Calcular Ruta
     </button> -->
 </div>


<!-- <div id="map"> -->
    <div class="fullscreen" id="map">
    <!-- <leaflet width="100%" height="100%" class="fullscreen" lf-center="posicion_actual" event-broadcast="events" markers="markers"></leaflet> -->
</div>

<!-- <div class="row">
  <div class="col col-50" id="map">.col.col-50</div>
  <div class="col col-50" id="right-panel">.col.col-50</div>
</div> -->
