.float-right {
  float: right;
}
.button-rounded {
  display: block !important;
  width: 30px !important;
  height: 30px !important;
  line-height: 30px !important;
  border: 2px solid white !important;
  border-radius: 50% !important;
  color: white !important;
  text-align: center !important;
  text-decoration: none !important;
  font-size: 10px !important;
  font-weight: bold !important;
}

/* Empty. Add your own CSS if you like */

.float-button {
  background-color: #303f9f;
  opacity: 0.9;
  color: white;
  border-radius: 50%;
  /*border-radius:15% 0 0 0;*/
  /*width: 30px;*/
  padding: 25px;
  font-size: 40px;
  position: fixed;
  bottom: 5%;
  /* Adjust height */
  right: 5%;
  /* Adjust position */
  z-index: 1000;
}
.float-button .height_fix {
  margin-top: 100%;
  border: 1px solid red;
}
.float-button .content {
  position: absolute;
  left: 0;
  top: 50%;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -20px;
  color: white;
}

/*.float-ionic-button {
    position: absolute;
    /*height: 100%;*/
    /*width: 30%;*/
    /*text-align: center;*/
    /*z-index: 1000;*/
/*}/*/

#div_flotante_maps {
    display: inline-block;
    position: absolute;
    text-align: center;
    z-index: 1000;
    /*left: 40%;*/
    top: 85%;
}

#div_flotante_filtro_tipos {
    display: inline-block;
    position: absolute;
    text-align: center;
    z-index: 1000;
    /*left: 0;*/
    top: 0;
}
/*#boton_calcular_ruta {
    left: 40%;
    top: 90%;
    margin-top: -20px;
}

#boton_seleccionar_area {
    left: 30%;
    top: 80%;
    margin-top: -20px;
}*/

#login_container {
    background-color: #33cd5f;
}
