.float-right{
    color: red;
}
.button-rounded {
  display: block !important;
  width: 30px !important;
  height: 30px !important;
  line-height: 30px !important;
  border: 2px solid white !important;
  border-radius: 50% !important;
  color: white !important;
  text-align: center !important;
  text-decoration: none !important;
  font-size: 10px !important;
  font-weight: bold !important;
}
